<div class="mx-auto md:w-1/3  px-2"> 

  <%= render "form", post: @post %>

  <%= link_to "Back to posts", posts_path, class: "mt-4 mb-3  bg-indigo-500 text-white hover:bg-indigo-700 bg ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
